<div class="row justify-content-center color1">
    <h2 class="text-center titulo fw-700 color2">Escucha Nuestros Sonidos</h2>
</div>

<div class="container secciones">

    <div class="row justify-content-center">

        <a [routerLink]="['/menuMicrofonos',tipoGuitarra]">
            <div class="item col-sm color1">
                <div>
                    <h2 class="texto text-center color2 fw-700">Guitarra</h2>
                    <img class="imagen" src="\assets\img\guitar.png" alt="iconoGuitarra">
                </div>
            </div>
        </a>

        <a [routerLink]="['/menuMicrofonos',tipoBajo]">
            <div class="item col-sm color1">
                <h2 class="texto text-center color2 fw-700">Bajo</h2>
                <img class="imagen centrar-bajo" src="\assets\img\bajo.png" alt="IconoBajo">
            </div>
        </a>

    </div>

</div>