h2 {
    padding: 1.2rem;
}

@media (min-width: 768px) {
    .contenedor-items {
        display: flex;
    }
}

.contenedor-items .items:last-of-type {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    background-size: 10.5rem;
}

@media (min-width: 768px) {
    .contenedor-items .items:last-of-type {
        margin-top: 0rem;
        margin-bottom: 0rem;
        background-size: 9.4rem;
        height: 35rem;
    }
    .contenedor-items .items:first-of-type {
        background-size: 11.3rem;
    }
}

.items {
    margin: 0 auto;
    background-size: 12rem;
    background-position-y: 6.5rem;
    background-position-x: center;
    background-repeat: no-repeat;
    max-width: 17rem;
    height: 38rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .items {
        background-position-x: center;
        background-repeat: no-repeat;
        width: 25rem;
        height: 35rem;
        cursor: pointer;
    }
}

.item1 {
    background-image: url(../../../assets/img/guitar.jpg);
}

.item2 {
    background-image: url(../../../assets/img/bajo.jpg);
}