<app-titulo [titulo]="'Escucha nuestros sonidos'">
</app-titulo>


<div class="secciones contenedor-items">


    <div class="items item1 color1 sombra redondeado" [routerLink]="['/menuMicrofonos',tipoGuitarra]">
        <h2 class="text-center color2 fw-700">Guitarras</h2>
        <div class="icono1 imagen-icono centrar-bajo" alt="iconoGuitarra">
        </div>
    </div>


    <div class="items item2 color1 sombra redondeado" [routerLink]="['/menuMicrofonos',tipoBajo]">
        <h2 class="text-center color2 fw-700">Bajos</h2>
        <div class="imagen-icono centrar-bajo" alt="iconoGuitarra">
        </div>
    </div>
</div>