<section>
    <div class="separacion">
        <h2 class="centrar-texto padding-texto titulo fw-700 texto-blanco">-Escucha Nuestros Sonidos-</h2>

        <div class="container">
            <div class="row justify-content-md-center">
                <a routerLink="/guitarra">
                    <div class="item col-md-auto beige">
                        <div>
                            <h2 class="texto text-center texto-negro">Guitarra</h2>
                            <img class="imagen" src="\assets\img\guitar.png" alt="">
                        </div>
                    </div>
                </a>

                <div class="separacion col-2"></div>
                <a routerLink="/bajo">
                    <div class="item col-md-auto beige">
                        <h2 class="texto text-center texto-negro">Bajo</h2>
                        <img class="imagen centrar-bajo" src="\assets\img\bajo.png" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>