/* .contenedor-botones {
    margin-left: 10rem;
} */

@media (min-width: 768px) {
    .contenedor-botones {
        margin-left: 0rem;
    }
}

.loading {
    width: 8rem;
    height: 8rem;
    margin-top: 8rem;
}