/* .contenedor {
    margin-top: 5rem;
    text-align: center;
} */

.botones-hijos {
    /* margin: 3rem 3rem 0rem 0rem; */
    margin-top: 3rem;
    text-align: center;
}

.botones-hijos button {
    margin-left: 1.2rem;
}

.botones-hijos button:first-of-type {
    margin-left: 0rem;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 24px;
}