.card {
    margin: 7.5rem 1rem 9.5rem 1rem;
    background-color: #FFC65D;
}

@media (min-width: 768px) {
    .card {
        display: flex;
        /* alineacion vertical */
        align-items: center;
        /* alineacion horizontal */
        justify-content: center;
        /* max-width: 60rem; */
    }
}

h3 {
    font-size: 3.8rem;
    text-align: center;
    padding-top: 1rem;
}

.reproductor {
    margin-bottom: 1.2rem;
    margin: 0rem 1rem 1rem 0.5rem;
}

@media (min-width: 768px) {
    .reproductor {
        width: 55rem;
    }
}