<div class="card">

    <div class="container">
        <div class="row justify-content-center">
            <div class="item">
                <h3 class="marginBottom texto-negro fw-700">{{tituloPosicion}}</h3>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="item">
                <img class="marginBottom card-img-top" src="assets/img/Pickup_1.png" alt="pickup">
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="item marginBottom">
                <app-wave-animation></app-wave-animation>
            </div>
        </div>
    </div>


    <div class="container">
        <button type="button" class="btn-dark btn-block">Escuchar</button>
    </div>

</div>