<div class="lista-productos contenedor secciones">

    <div class="imagen">
        <img src="../../../assets/img/mic_1.png" alt="producto">
    </div>

    <div class="imagen">
        <img src="../../../assets/img/mic_2.png" alt="producto">
    </div>

    <div class="imagen">
        <img src="../../../assets/img/mic_3.png" alt="producto">
    </div>

    <div class="imagen">
        <img src="../../../assets/img/mic_5.png" alt="producto">
    </div>

    <div class="grafico grafico-1">

    </div>

    <div class="grafico grafico-2">

    </div>

</div>