/* You can add global styles to this file, and also import other style files */


/* Normalize */


/* End Normalize */


/** Reset para REMS - 62.5% = 10px de 16px **/

html {
    /* box-sizing: border-box; */
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

body {
    /* background-image: url(); */
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background-color: #404040;
    /* background-color: #AA1111; */
    /* Seleccion 1 */
    /* background-color: #EBEBEB; */
    /* Seleccion 1 */
    /* Seleccion 2 */
    /* background-color: #FFF5C3; */
    /* Seleccion 2 */
    /* Seleccion 3 */
    /* background-color: #FFF5C3; */
    /* Seleccion 3 */
    /* Seleccion 4 */
    /* background-color: #F5F5F5; */
    /* Seleccion 4 */
    /* background-color: #404040; */
    /* Para imagen con fondo */
    /* background-image: url("../src/assets/img/fondo.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* Para agregar fondo de guitarras descomentar linea de arriba */
}


/** Globales **/

img {
    max-width: 100%;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/** Utilidades **/

.secciones {
    margin: 8rem;
}

.titulo {
    font-size: 6rem;
    padding: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.fw-700 {
    font-weight: 700;
}

.centrar-texto {
    text-align: center;
}


/* Colores */

.color1 {
    background-color: #FFC65D;
}

.color2 {
    color: #404040;
}

.color3 {
    color: #FFC65D;
}