<div>
    <button class="titulo navbar-toggler color1 fw-700 redondeado sombra" type="button" data-toggle="collapse" attr.data-target="#desplegable-{{id+1}}">
            <div class="texto-boton">
                    <i class="fas fa-guitar"></i> | {{listaMicrofono.nombreClasificacion}}
            </div>
        </button>
</div>

<div class="collapse" id="desplegable-{{id+1}}">
    <div class="row botones-desplegables">
        <div *ngFor="let mic of listaMicrofono.microfonos">
            <button type="button" class="item btn color1 fw-700 sombra" routerLink="/presentacion" (click)="guardarMic(mic)">{{mic.nombre}}</button>
        </div>
    </div>
</div>