button.titulo {
    font-size: 25px;
    height: 6rem;
    width: 28rem;
    margin: 2rem;
    border-radius: 2rem;
}

button.item {
    font-size: 20px;
    height: 6.2rem;
    width: 30rem;
    margin: 2rem;
    border-radius: 4rem 1rem 4rem 1rem;
}

.contenido {
    text-align: left;
}


/* EFECTO 3 */

button {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

button:after,
button:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

button {
    box-shadow: 0 20px 40px black;
}


/* FIN EFECTO 3 */