<app-titulo [titulo]='microfono.nombre'>
</app-titulo>

<app-boton-redondo [direccion]="microfono.tipo"></app-boton-redondo>

<div class="secciones">

    <div class="item">
        <p class="descripcion text-center color3 fw-700">{{microfono.descripcion}}</p>
    </div>

    <div class="bloquePosiciones">
        <div class="item" *ngFor="let posicion of microfono.posiciones">
            <app-reproductor [tituloPosicion]=posicion.Posicion [url]=posicion.urlSonido></app-reproductor>
        </div>
    </div>

    <!-- <app-titulo [titulo]="'Galeria'"></app-titulo> -->

    <!-- <app-galeria></app-galeria> -->

</div>