<app-titulo [titulo]='micSolicitado.nombre'>
</app-titulo>

<app-boton-redondo [direccion]="'/menuMicrofonos/Guitarras'"></app-boton-redondo>

<div class="secciones">

    <div class="item">
        <p class="descripcion text-center color3 fw-700">{{micSolicitado.descripcion}}</p>
    </div>


    <div class="bloquePosiciones">
        <div class="item">
            <app-cuadro-mic [tituloPosicion]=micSolicitado.posiciones[0]></app-cuadro-mic>
        </div>
        <div class="item">
            <app-cuadro-mic [tituloPosicion]=micSolicitado.posiciones[1]></app-cuadro-mic>
        </div>
        <div class="item">
            <app-cuadro-mic [tituloPosicion]=micSolicitado.posiciones[2]></app-cuadro-mic>
        </div>
    </div>

    <app-titulo [titulo]="'Galeria'"></app-titulo>

    <app-galeria></app-galeria>

</div>